##################
### MAIN FILES ###
##################
[include config/machine.cfg]
[include config/variables.cfg]
[include K-ShakeTune/*.cfg]
[include KAMP_Settings.cfg]
[include timelapse.cfg]

###########################
### HARDWARE COMPONENTS ###
###########################
[include config/hardware/bed.cfg]
[include config/hardware/bedfans.cfg]
[include config/hardware/fan.cfg]
[include config/hardware/filament_sensors.cfg]
[include config/hardware/heater.cfg]
[include config/hardware/idm_scanner.cfg]
[include config/hardware/light.cfg]
[include config/hardware/stepper.cfg]
[include config/hardware/switch.cfg]
[include config/hardware/tempsensor.cfg]
[include config/hardware/tmc.cfg]

###########################
### SOFTWARE COMPONENTS ###
###########################
[include config/software/axis_twist_compensation.cfg]
[include config/software/bed_mesh.cfg]
[include config/software/firmware_retraction.cfg]
[include config/software/input_shaper.cfg]
[include config/software/wled.cfg]
[include config/software/z_thermal_adjust.cfg]

#####################
### MACROS FOLDER ###
#####################
[include macros/calibration/*.cfg]
[include macros/hardware_functions/*.cfg]
[include macros/helpers/*.cfg]
[include macros/homing/*.cfg]
[include macros/print_base/*.cfg]

###############
### SCRIPTS ###
###############
[include scripts/*.cfg]

################################################################################################
################################################################################################

[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.375
#*# pid_ki = 2.940
#*# pid_kd = 46.457
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 32.405
#*# pid_ki = 1.125
#*# pid_kd = 233.319
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = 0.0031004756051
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [axis_twist_compensation]
#*# z_compensations = -0.000297, -0.009784, 0.010081
#*# compensation_start_x = 30.0
#*# compensation_end_x = 280.0
#*#
#*# [idm model ZIFLEX]
#*# model_coef = 1.2641435143798228,
#*# 	1.6907092096329144,
#*# 	0.753465694958615,
#*# 	0.26373281666344356,
#*# 	0.47877788036323604,
#*# 	0.8957154663070791,
#*# 	-0.3495947685372904,
#*# 	-1.0081382989095349,
#*# 	0.40249194176318104,
#*# 	0.6096081183178749
#*# model_domain = 3.1063599726542886e-07,3.3464707087639874e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 21.983098
#*# model_offset = 0.20000
#*#
#*# [idm model CARBON]
#*# model_coef = 1.399117524375208,
#*# 	  1.8195065301293214,
#*# 	  0.7313270724672453,
#*# 	  0.2556348040063827,
#*# 	  0.43766671503006865,
#*# 	  0.762437165553599,
#*# 	  -0.32912754658014903,
#*# 	  -0.8816074302284614,
#*# 	  0.3104269141742592,
#*# 	  0.49564015180835946
#*# model_domain = 3.2200428096776485e-07,3.3561108259005695e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 20.404911
#*# model_offset = 0.20000
#*#
#*# [idm model PRIMA]
#*# model_coef = 1.3941548817492584,
#*# 	1.80421116357397,
#*# 	0.7341421122340654,
#*# 	0.3246994537132684,
#*# 	0.40785931954419596,
#*# 	0.5001866014242146,
#*# 	-0.2640645389451471,
#*# 	-0.49474439145306337,
#*# 	0.2777098851482736,
#*# 	0.3171341136172154
#*# model_domain = 3.198863615448552e-07,3.3538411979901485e-07
#*# model_range = 0.100000,5.000000
#*# model_temp = 24.569122
#*# model_offset = 0.25000

